:root {
   /* PRIMARY */
   --bright-blue: hsl(220, 98%, 61%);
   --check-background: linear-gradient(135deg, hsl(192, 100%, 67%) 0%, hsl(280, 87%, 65%) 100%);

   /* LIGHT THEME */
   --very-light-gray: hsl(0, 0%, 98%);
   --very-light-grayish-blue: hsl(236, 33%, 92%);
   --light-grayish-blue: hsl(233, 11%, 84%);
   --dark-grayish-blue: hsl(236, 9%, 61%);
   --very-dark-grayish-blue: hsl(235, 19%, 35%);

   /* DARK THEME */
   --very-dark-blue: hsl(235, 21%, 11%);
   --very-dark-desaturated-blue: hsl(235, 24%, 19%);
   --light-grayish-blue: hsl(234, 39%, 85%);
   --dark-grayish-blue: hsl(234, 11%, 52%);
   --very-dark-grayish-blue: hsl(233, 14%, 35%);
   --very-very-dark-grayish-blue: hsl(237, 14%, 26%);
}

* {
   margin: 0;
   padding: 0;
   border: border-box;
}

/* GENERALS */
html {
   margin: 0;
   padding: 0;
   border: border-box;
   font-size: 62.5% 
}

body {
   margin-bottom:5.0rem;
   font-family: 'Josefin Sans', 'Helvetica Neue', Helvetica, Arial, sans-;
   background-color: var(--very-dark-blue);
}

.bg-img {
   width: 100%;
}

/* MAIN */
main {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   position: relative;
   top: -300px;
}

/* HEADER */
.header {
   display: flex;
   text-align: center;
   justify-content: space-between;
   width: 37vw;
   margin-bottom: 4.3rem;
}

#title {
   color: white;
   font-size: 3.5rem;
   letter-spacing: 1.5rem;
}

.dark-light-icon {
   height: 2.3rem;
   align-self: center;
}

.dark-light-icon:hover {
   cursor: pointer;
}

/* INPUT */
.new-todo {
   width: 38vw;
   background-color: var(--very-very-dark-grayish-blue);
   margin-bottom: 2.0rem;
   height: 6.0rem;
   border-radius: 5px;
   display: flex;
   align-items: center;
   color: var(--light-grayish-blue);
   box-shadow: 0px 12px 22px -16px rgba(0,0,0,0.54);
   -webkit-box-shadow: 0px 12px 22px -16px rgba(0,0,0,0.54);
   -moz-box-shadow: 0px 12px 22px -16px rgba(0,0,0,0.54);
   outline: none;
}

.new-todo-input {
   flex-grow: 1;
   display: flex;
   align-items: center;
}

#todo-input {
   display: flex;
   width: 100%;
   font-size: 18px;
   background-color: transparent;
   border: none; 
   margin-right: 30.0rem;
   outline: none;
   color: var(--light-grayish-blue);
   justify-content: flex-start;
}

.check {
   width: 70px;
   margin-left: 2.0rem;
}

.check-mark {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   border: 1px solid var(--dark-grayish-blue);
   opacity: 0.5;
   transition: all 0.25s;
   cursor: pointer;
}

.check-mark > img {
   display: none;
}

.check-mark:hover {
   border: 1px solid var(--check-background);
}

/* TASKS */
.tasks-div {
   background-color: var(--very-very-dark-grayish-blue);
   margin-bottom: 5.0rem;
   width: 37.9vw;
   border-radius: 5px;
   overflow: hidden;
   box-shadow: 0px 35px 36px -1px rgba(0,0,0,0.33);
   -webkit-box-shadow: 0px 35px 36px -1px rgba(0,0,0,0.33);
   -moz-box-shadow: 0px 35px 36px -1px rgba(0,0,0,0.33);
}

.tasks {
   background-color: var(--very-very-dark-grayish-blue);
   color: var(--light-grayish-blue);
   list-style-type: none;
}

.todo-item {
   height: 70px;
   display: flex;
   align-items: center;
   transition: all 0.25s ease;
   display: flex;
   z-index: -1;
   cursor: pointer;
   border-bottom: 1px solid var(--very-dark-grayish-blue);
}

.todo-item:hover {
   transform: translateY(-2px);
   box-shadow: 0 0px 10px 0px var(--very-dark-desaturated-blue);
   z-index: 10;
}

.todo-text {
   font-size: 18px;
   color: var(--light-grayish-blue);
}

/* BOTTOM */
.tasks-info {
   display: flex;
   justify-content: space-between;
   color: var(--dark-grayish-blue);
   padding: 1.9rem;
   font-size: 1.3rem;
}

.items-statuses {
   display: flex;
   justify-content: center;
}

.items-statuses span {
   padding: 0 1rem;
   cursor: pointer;
}

.clear-items {
   cursor: pointer;
}

/* FOOTER */
.drag-p {
   color: var(--very-dark-grayish-blue);
   text-align: center;
   font-size: 1.2rem;
}

.attribution { 
   font-size: 1.1rem; 
   text-align: center; 
   position: fixed;
   height: 2.5rem;
   bottom: 0rem;
   left: 0rem;
   right: 0rem;
   margin-bottom: 0rem;
   color: white;
}
.attribution a { color: hsl(228, 45%, 44%); }